@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fonte1: 'Fraunces', serif;
    --fonte2: 'Montserrat', sans-serif;

    --cor0: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor0);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section{
    position: absolute;
    background-image: linear-gradient(to top, rgb(36, 111, 172),rgb(83, 196, 248));
    height: 500px;
    width: 350px;
    border-radius: 15px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#molde{
    position: absolute;
    background-color: var(--cor0);
    border-radius: 7px;
    height: 20px;
    width: 60px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -1150%);
}

img{
    position: absolute;
    border-radius: 50%;
    height: 150px;
    width: 150px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -110%);
}

p#nome{
    position: absolute;

    font-weight: bold;
    color: var(--cor0);
    font-size: 1.3em;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 50%);
}

p#aniversario{
    position: absolute;

    color: var(--cor0);
    font-size: 1.1em;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 160%);
}

p#bio{
    position: absolute;

    color: var(--cor0);
    font-size: 1em;
    top: 50%;
    left: 23.5%;

    transform: translate(-50%, 400%);
}

section > div#informacoes{
    position: absolute;
    background-color: var(--cor0);
    border-radius: 7px;
    height: 120px;
    width: 250px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 80%);
}

section > div#informacoes > p{
    padding: 10px;
    font-family: var(--fonte1);
    font-size: 0.9em;
}